<div class="four wide column">
    <div class="ui segment">
        <div class="ui grid">
            <div class="six wide column">
                <div style="height: 120px">
                    <img src="/img/<%= sort.sortCover %>" width="70px"/>
                </div>
            </div>
            <div class="ten wide column">
                <h3><a href="/sorts/<%= sort._id %>/edit"><%= sort.sortName %>类</a></h3>
                <p>藏书数量：<cite><%= sort.sortBkNum %></cite><p>
            </div>
        </div>
        <div>
            <span class="tag"><%= sort.created_at %></span>
            <span class="tag right">
                    <div class="ui inline dropdown">
                      <div class="text"></div>
                      <i class="dropdown icon"></i>
                      <div class="menu">
                        <div class="item"><a href="/sorts/<%= sort._id %>/edit">编辑</a></div>
                        <div class="item"><a href="/sorts/<%= sort._id %>/remove">删除</a></div>
                      </div>
                    </div>
                </span>
        </div>
    </div>
</div>

