<div class="four wide column">
    <div class="ui segment">
        <h4><a href="/users/<%= user.userId %>/edit"><%= user.userId %></a></h4>
        <p>电话：<%= user.phone %><p>
        <p>身份证：<%= user.idCard %><p>
        <div>
            <span class="tag"><%= user.created_at %></span>
            <span class="tag right">
                <div class="ui inline dropdown">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item"><a href="/users/<%= user.userId %>/edit">编辑</a></div>
                        <div class="item"><a href="/users/<%= user.userId %>/remove">删除</a></div>
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>
