<%- include header %>
<div class="ui grid">
    <div class="eight wide column">
        <h3>书籍注册</h3>
    </div>
</div>
<div class="ui grid">
    <div class="sixteen wide column">
        <form class="ui form segment" method="post" enctype="multipart/form-data">
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="field required">
                        <label>条形码</label>
                        <input placeholder="条形码" type="text" name="bookId"  >
                    </div>
                    <div class="field required">
                        <label>书名</label>
                        <input placeholder="书名" type="text" name="bookTitle" >
                    </div>
                    <div class="field required">
                        <label>作者</label>
                        <input placeholder="作者" type="text" name="bookAuthor" >
                    </div>
                    <div class="field required">
                        <label>封面</label>
                        <input type="file" name="bookCover">
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="field required">
                        <label>出版社</label>
                        <input placeholder="出版社" type="text" name="bookPress" >
                    </div>
                    <div class="field required select">
                        <label>分类1（）</label>
                        <select class="ui fluid search dropdown" name="bookSort1">
                            <option value="null">未选择</option>
                            <% sorts.forEach(function (sort) { %>
                            <option value="<%= sort.sortName %>"><%= sort.sortName %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="field required">
                        <label>分类2（）</label>
                        <select class="ui fluid search dropdown" name="bookSort2">
                            <option value="null">未选择</option>
                            <% sorts.forEach(function (sort) { %>
                            <option value="<%= sort.sortName %>"><%= sort.sortName %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="field required">
                        <label>分类3（）</label>
                        <select class="ui fluid search dropdown" name="bookSort3">
                            <option value="null">未选择</option>
                            <% sorts.forEach(function (sort) { %>
                            <option value="<%= sort.sortName %>"><%= sort.sortName %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="field required">
                        <label>书本数</label>
                        <input placeholder="书本数" type="number" name="bookNum" >
                    </div>
                </div>
            </div>
            <div class="field required">
                <label>简介</label>
                <textarea name="bookAbstract" rows="5"></textarea>
            </div>
            <input type="submit" class="ui button fluid" value="录入">
        </form>
    </div>
</div>
<%- include footer %>