<%- include('header') %>
<div class="ui grid breadcrumb ">
    <div class="eight wide column">
        <h3>
            <a href="/users">用户管理</a>
            <i class="right chevron icon divider"></i>
            <a href="/users/<%= bstatus.userId %>/edit">用户编辑</a>
            <i class="right chevron icon divider"></i>
            <div class="active section">记录编辑</div>
        </h3>
    </div>
</div>
<div class="ui grid">
    <div class="eight wide column">
        <form class="ui form segment" method="post" enctype="multipart/form-data">
            <div class="field">
                <label>用户</label>
                <p><%= bstatus.userId %></p>
            </div>
            <div class="field">
                <label>创建时间</label>
                <p><%= bstatus.createTime %></p>
            </div>
            <div class="field required">
                <label>条形码值</label>
                <input type="text" name="bookId" value="<%= bstatus.bookId %>">
            </div>
            <div class="field required">
                <label>状态类型</label>
                <select class="ui fluid search dropdown" name="type">
                    <option value="reserve" <% if(bstatus.type =='reserve'){%>selected = "selected"<%}%>>已预约</option>
                    <option value="cancelRe" <% if(bstatus.type =='cancelRe'){%>selected = "selected"<%}%>>取消预约</option>
                    <option value="borrow" <% if(bstatus.type =='borrow'){%>selected = "selected"<%}%>>已借</option>
                </select>
            </div>
            <input type="submit" class="ui button fluid" value="修改">
        </form>
    </div>
</div>
<%- include footer %>