<%- include header%>
<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <h3>书籍信息</h3>
  </div>
</div>
<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <form class="ui form segment" method="post" enctype="multipart/form-data">
      <div class="field required">
        <label>条形码</label>
        <input placeholder="条形码" type="text" name="bookId" value="<%= book.bookId %>">
      </div>
      <div class="field required">
        <label>书名</label>
        <input placeholder="书名" type="text" name="bookTitle" value="<%= book.bookTitle %>">
      </div>
      <div class="field required">
        <label>封面</label>
        <img src="http://localhost:3000/img/<%= book.bookCover %>" width="100px"/>
        <input type="file" name="bookCover">
      </div>
      <div class="field required">
        <label>作者</label>
        <input placeholder="作者" type="text" name="bookAuthor" value="<%= book.bookAuthor %>">
      </div>
      <div class="field required">
        <label>出版社</label>
        <input placeholder="出版社" type="text" name="bookPress" value="<%= book.bookPress %>">
      </div>
      <div class="field required">
        <label>分类1（请输入英文分类）</label>
        <input  type="text" name="bookSort1" value="<%= book.bookSorts[0] %>">
      </div>
      <div class="field required">
        <label>分类2（请输入英文分类）</label>
        <input  type="text" name="bookSort2" value="<%= book.bookSorts[1] %>">
      </div>
      <div class="field required">
        <label>分类3（请输入英文分类）</label>
        <input type="text" name="bookSort3" value="<%= book.bookSorts[2] %>">
      </div>
      <div class="field required">
        <label>书本数</label>
        <input placeholder="书本数" type="number" name="bookNum" value="<%= book.bookNum %>">
      </div>
      <div class="field required">
        <label>简介</label>
        <textarea name="bookAbstract" rows="5" ><%= book.bookAbstract %></textarea>
      </div>
      <input type="submit" class="ui button fluid" value="修改">
    </form>
  </div>
</div>

<%- include footer %>