<%- include header %>
<div class="ui grid breadcrumb ">
    <div class="eight wide column">
        <h3>
            <a href="/books">书籍管理</a>
            <i class="right chevron icon divider"></i>
            <div class="active section">书籍编辑</div>
        </h3>
    </div>
</div>
<div class="ui grid">
    <div class="sixteen wide column">
        <form class="ui form segment" method="post" enctype="multipart/form-data">
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="field required">
                        <label>条形码</label>
                        <input placeholder="条形码" type="text" name="bookId" value="<%= book.bookId %>">
                    </div>
                    <div class="field required">
                        <label>书名</label>
                        <input placeholder="书名" type="text" name="bookTitle" value="<%= book.bookTitle %>">
                    </div>
                    <div class="field required">
                        <label>全拼</label>
                        <input placeholder="全拼" type="text" name="bookCompleteSpelling"
                               value="<%= book.bookCompleteSpelling %>">
                    </div>
                    <div class="field required">
                        <label>首字母</label>
                        <input placeholder="首字母" type="text" name="bookInitial" value="<%= book.bookInitial %>">
                    </div>
                    <div class="field required">
                        <label>作者</label>
                        <input placeholder="作者" type="text" name="bookAuthor" value="<%= book.bookAuthor %>">
                    </div>
                    <div class="field required">
                        <label>封面</label>
                        <img src="<%= book.bookCover %>" width="100px"/></br>
                        <input type="file" name="bookCover">
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="field required">
                        <label>出版社</label>
                        <input placeholder="出版社" type="text" name="bookPress" value="<%= book.bookPress %>">
                    </div>
                    <div class="field required select">
                        <label>分类1（<%= book.bookSorts[0] %>）</label>
                        <select class="ui fluid search dropdown" name="bookSort1">
                            <option value="null">未选择</option>
                            <% sorts.forEach(function (sort) { %>
                            <option value="<%= sort.sortName %>" <% if(sort.sortName==book.bookSorts[0]){%>selected = "selected"<%}%> >
                            <%= sort.sortName %>
                            </option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="field required">
                        <label>分类2（<%= book.bookSorts[1] %>）</label>
                        <select class="ui fluid search dropdown" name="bookSort2">
                            <option value="null">未选择</option>
                            <% sorts.forEach(function (sort) { %>
                            <option value="<%= sort.sortName %>"  <% if(sort.sortName==book.bookSorts[1]){%>selected = "selected"<%}%> >
                                <%= sort.sortName %>
                            </option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="field required">
                        <label>分类3（<%= book.bookSorts[2] %>）</label>
                        <select class="ui fluid search dropdown" name="bookSort3">
                            <option value="null">未选择</option>
                            <% sorts.forEach(function (sort) { %>
                            <option value="<%= sort.sortName %>"  <% if(sort.sortName==book.bookSorts[2]){%>selected = "selected"<%}%>>
                                <%= sort.sortName %>
                            </option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="field required">
                        <label>书本数</label>
                        <input placeholder="书本数" type="number" name="bookNum" value="<%= book.bookNum %>">
                    </div>
                    <div class="field required">
                        <label>借阅数</label>
                        <input placeholder="借阅数" type="number" name="bookBowNum" value="<%= book.bookBowNum %>">
                    </div>
                </div>
            </div>
            <div class="field required">
                <label>简介</label>
                <textarea name="bookAbstract" rows="5"><%= book.bookAbstract %></textarea>
            </div>
            <input type="submit" class="ui button fluid" value="修改">
        </form>
    </div>
</div>

<%- include footer %>