<%- include header %>
<div class="ui grid breadcrumb ">
    <div class="eight wide column">
        <h3>
            <a href="/sorts">类别管理</a>
            <i class="right chevron icon divider"></i>
            <div class="active section">类别编辑</div>
        </h3>
    </div>
</div>
<div class="ui grid">
    <div class="sixteen wide column">
        <form class="ui form segment" method="post" enctype="multipart/form-data">
            <div class="ui grid">
                <div class="six wide column">
                    <div class="field required">
                        <label>封面</label>
                        <img src="/img/<%= sort.sortCover %>" width="100px"/></br>
                        <input type="file" name="sortCover">
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="field required">
                        <label>类名</label>
                        <input placeholder="类名" type="text" name="sortName" value="<%= sort.sortName%>">
                    </div>
                    <div class="field required">
                        <label>藏书数</label>
                        <input placeholder="类名" type="text" name="sortBkNum" value="<%= sort.sortBkNum%>">
                    </div>
                </div>
            </div>
            <div style="height: 10px"></div>
            <input type="submit" class="ui button fluid" value="修改">
        </form>
    </div>
</div>
<div class="ui grid">
    <div class="eight wide column">
        <h3><%= sort.sortName%>类书籍管理</h3>
    </div>
</div>
<div class="post-content">
    <div class="ui grid">
        <% books.forEach(function (book) { %>
        <%- include('components/sortbook-content', { book: book }) %>
        <% }) %>
    </div>
</div>

<%- include footer %>
