<%- include('header') %>
<div class="ui grid breadcrumb ">
    <div class="eight wide column">
        <h3>
            <a href="/users">用户管理</a>
            <i class="right chevron icon divider"></i>
            <div class="active section">用户编辑</div>
        </h3>
    </div>
</div>
<div class="ui grid">
    <div class="sixteen wide column">
       <!-- <form class="ui form segment" method="post" enctype="multipart/form-data">-->
            <div class="ui grid ">
                <div class="eight wide column">
                    <form name="form1"  class="ui form segment" method="post" enctype="multipart/form-data">
                    <div class="field">
                        <label>用户名</label>
                        <p><%= user.userId %></p>
                    </div>
                    <div class="field required">
                        <label>电话</label>
                        <input placeholder="电话" type="text" name="phone" value="<%= user.phone %>">
                    </div>
                    <div class="field required">
                        <label>身份证</label>
                        <input placeholder="身份证" type="text" name="idCard" value="<%= user.idCard %>">
                    </div>
                    <input type="submit" class="ui button fluid" value="修改">
                    </form>
                </div>
                <div class="eight wide column">
                    <form name="form2"  class="ui form segment" method="post" enctype="multipart/form-data">
                    <div class="field ">
                        <label>通知</label>
                        <textarea name="message" rows="8" placeholder="message to <%= user.userId %>"></textarea>
                    </div>
                    <div class="ui grid">
                        <div class="twelve wide column"></div>
                        <div class="four wide column">
                            <input type="submit" class="ui button fluid" value="发送">
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <div style="height: 10px"></div>
      <!--  </form>-->
    </div>
</div>
<div class="ui grid">
    <div class="eight wide column">
        <h3>行为记录</h3>
    </div>
</div>
<div class="post-content">
    <div class="ui grid">
<% bstatus.forEach(function (status) { %>
<%- include('components/status-content', { bstatus: status }) %>
<% }) %>
    </div>
</div>


<%- include('footer') %>